﻿body 
{
    background-image: url('Albaka_Productions.site/website background.jpg');
    background-color: #2F2F2F;
    color: white;
}
table
{
    background-color: #2F2F2F;
    border-color: #2F2F2F;
    border-style: none;
    border-spacing: 0px;
    text-align: center;
    margin: 0px auto;
}
h1 {
    color: #e86400;
    direction: rtl;
    text-align: right;
}
h2 {
    color: #e86400;
    direction: rtl;
    text-align: right;
}
h4 {
    color: #e86400;
    direction: rtl;
    text-align: right;
}
p {
    color: white;
    direction: rtl;
    text-align: right;
}

