﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="deleteUser.aspx.cs" Inherits="Albaka_Productions.deleteUser" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table style="border: 1px solid; margin: 0px auto;">
        <%= st %>
    </table>
    <br />
    <h2><%= msg %></h2>
</asp:Content>
