﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="HalfLife2.aspx.cs" Inherits="Albaka_Productions.HalfLife2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<h3 style="color:#e86400; text-align:right">
Half Life הוא משחק Single-player Action FPS שפותח על ידי החברה המוכרת Valve.<br />
המשחק יצא לקהל הרחב ב-16 בנובמבר 2004 ונחשב עד היום לטענתם של גיימרים רבים למשחק היריות הטוב ביותר.<br />
יש שיגידו שחולל שינוי בלתי הפיך בתעשיית משחקי המחשב, החלטתי לחזור למשחק פעם נוספת ולראות אם הוא מחזיק מעמד גם היום.<br /><br />
</h3>

<h3 style="color:#e86400; text-align:right">הסיפור</h3>
<h4 style="color:white; direction:rtl; text-align:right">
עלילת המשחק מתרחשת מספר שנים (בין עשר לעשרים שנה) לאחר סיום המשחק הראשון המקורי.<br />
המשחק יוצא מנקודת ההנחה שגורדון פרימן קיבל את הצעתו של הג'י-מאן בסוף המשחק הקודם, לעבוד בשבילו.<br />
לאחר מותו של ניהילנט', שערים החלו להיפתח בכל העולם, ומפלצות מתחילות לעבור בהם מהצד השני, כולל החייזרים מעולם Xen מהמשחק הקודם שפולשים לכדור הארץ במלוא העוצמה,ה - Combine, גזע חייזרי תבוני, פולש לכדור הארץ דרך השערים האלו ומביס את כל צבאותיו.<br />
אנחנו עוקבים אחרי גורדון, שבמאמץ נואש, יחד עם שאר השורדים שהצליחו להשתחרר מהגטאות של ה - Combine, מנסה להפיל את המנהיג הראשי, דוקטור ברין, שמונה על ידם.<br />
</h4>

<h3 style="color:#e86400; text-align:right">גרפיקה</h3>
<h4 style="color:white; direction:rtl; text-align:right">
    אני לא ממש בחור של גרפיקה, אין לי בעיה לשחק במשחק שמורכב מפיקסל אחד שנראה כמו קופסא אם זה כיף,<br />
    אבל אני חייב לציין לשבח את הגרפיקה המדהימה של המשחק שמחזיקה מעמד כבר עשור וחצי ביחס למשחקים אחרים שיש כעת בשוק<br />
</h4>


<h3 style="color:#e86400; text-align:right">סאונד</h3>
<h4 style="color:white; direction:rtl; text-align:right">
    לצערי, בניגוד לגרפיקה, הקול, כלומר הסאונד אפקטס, הדיאלוגים והצעקות החזקות של ההד קראבס כשהם קופצים עלייך וגורמים להתקף לב קטן, הרגישו הרבה פחות טוב מהפעם האחרונה בה שיחקתי, <br />
    אפשר לשמוע קצת סטטיות של פעם בהקלטות לדוגמא, הרבה פעמים אותה דמות יכולה לחזור פעם אחר פעם על אותו משפט וזה קצת דוחף אותך מן החוויה של המשחק,<br />
    ביחס לשנת היציאה שלו פס הקול הוא מעולה אך הוא לא מחזיק מעמד כיום.<br />
</h4>


<h3 style="color:#e86400; text-align:right">גיימפליי</h3>
<h4 style="color:white; direction:rtl; text-align:right">
    אני אפילו לא יודע איך אפשר לתאר את הגיימפליי, מרוב שהוא טוב כן, אל תטעו.<br />
    המשחק מחולק לפרקים (13 ליתר דיוק) שאורכם יחדיו כ-15 שעות, כל פרק משדר משהו אחר, עם אווירה משלו, גיימפלי אחר, חידות שונות או עם אויבים מגוונים.<br />
    מתחילים את המשחק ב"עיר 17", אחד הגטאות שחיילי ה - Combine הציבו, לאחר פתיחה, מעט ארוכה הייתי אומר, האקשן מתחיל.<br />
    בעוד אתה הולך במפה ומנסה להגיע מנקודה A לנקודה B, נחילים של מפלצות, חיילים ואויבים שונים אחרים קופצים עליך מכל הכיוונים ומנסים להכשיל אותך בדרכך לניצחון, כל קרב קשה באופן מסויים, לכל קרב יש שוני שמייחד אותו, כל נשק מרגיש ריאליסטי ומיוחד.<br />
    כל פרק נותן את האספקט שלו למשחק, בין אם ברכבים, סירות מנוע, נשקים חדשים שמתווספים לארסנל או האווירה של אותו מקום.<br />
    ההתרגשות של ניצחון בקרב, הציפייה לשלב הבא או הפחד של מה שיצוץ מעבר לפינה, האימה של הצעקות של ההד קראבס הקטנים והמעצבנים האלה שצריך לרוקן מחסנית רק כדי לפגוע באחד מהם, החחש מהזומבים חסרי השכל שרצים אליך או זוחלים אליך כי הורדת להם את הרגליים, השמחה כשאתה פוגש דמות חדשה, כל אלה יגרמו לצרחות של אושר, או של פחד (ככל הנראה של פחד…) וזה מה שגורם למשחק להרגיש מיוחד.<br />
</h4>

    
<h3 style="color:#e86400; text-align:right">לסיכום</h3>
<h4 style="color:white; direction:rtl; text-align:right">
    לא סתם כבר מעל עשור המשחק הזה נקרא משחק ה-FPS הטוב ביותר בעולם, בין אם זה בעלילה השנונה שלו, הגרפיקה שמחזיקה עד היום, הגיימפלי המטורף או ה-ג'אמפ סקיירס שמקבלים ברייבנהולם, אין כמעט שום דבר רע שאפשר לומר עליו, וגם מה שרע, הוא שולי ולא מפריע.<br />
    תקנו את המשחק הזה, תרוקנו מחסנית על הד קראב ותעשו במכנס ותהיו בטוחים שאתם תאהבו אותו.<br />
</h4>

    <img src="Styles/AlbakaProductions%20pictures/3d9d03a306ebea90eddee200f3804410-480-80.jpg" width="360" height="202" style="border:0; float:left; padding:20px"/>
    <img src="Styles/AlbakaProductions%20pictures/header.jpg" width="360" height="202" style="border:0; float:none; padding:20px"/>
    <img src="Styles/AlbakaProductions%20pictures/5249152c93e71e844715fc9589c6378e.jpg" width="360" height="202" style="border:0; float:right; padding:20px" />
</asp:Content>
