﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="managerPage.aspx.cs" Inherits="Albaka_Productions.managerPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <style>
        h1{text-align:center; color:#e86400}
        h2{text-align:center; color:#e86400}
        h3{text-align:center; color:white}
        td{width:300px}
        th{color:white; font-family: 'Guttman Yad-Brush';}
        table{margin: 0px auto;}
        .formTbl{margin: 0px auto; border: 1px solid;}
        .formTd{border: 1px solid;}
    </style>
    <% if (Session["admin"].ToString() == "yes")
        {%>
        <br />
        <br />
        <br />
        <br />
            <table id ="table1" dir ="rtl">
            <tr>
                <td><a href='SimpleQuery.aspx' style='color:#e86400'>טבלת משתמשים</a></td>
                <td><a href='deleteUser.aspx' style='color:#e86400'>מחיקת משתמש</a></td>
             </tr>
        </table>
    <%}
    else
    { %>
           <div style='text-align:center;'>
           <h3>אינך מנהל/ת אין לך הרשאה לצפות בדף זה</h3>
           <a herf='HomePage.aspx'> המשך </a>
           </div>
    <%} %>


</asp:Content>
