﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="SuperMarioMaker2.aspx.cs" Inherits="Albaka_Productions.SuperMarioMaker2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>
        אממ...<br />
        אתם לא אמורים להיות פה<br />
        אם תוכלו לצאת בבקשה זה יהיה נהדר<br />
    </h1>
</asp:Content>
